#page1 {
  height: 650px
}
#page3 {
  height: 350px;
  background-color: #D3D3D3 
}

h4 {
  color: black;
}
.transl:hover {
  
  color: #FF4500;
  -webkit-transform: translateX(300px);
   -o-transform: translateX(300px);
    -ms-transform: translateX(300px);
     -moz-transform: translateX(300px);
  transform: translateX(300px);
  
  -webkit-transition: all 1.5s ease-in-out;
  -o-transition: all 1.5s ease-in-out;
  -ms-transition: all 1.5s ease-in-out;
  -moz-transition: all 1.5s ease-in-out;
  transition: all 1.5s ease-in-out;
  font-size: 4em;
} 

#page2 {
  /*height: 1400px;*/
  background-color: black;
  
}
@media screen and (min-width: 320px) {
  #page2 {
    height: 1400px;
  }
  .transl {
    color: white;
  }

  
}
@media screen and (max-width: 500px) {
  #page2 {
    height: 1450px;
  }
  .transl {
    color: white;
  }
  
}
@media screen and (min-width: 501px) {
  #page2 {
    height: 1200px;
  }
}
@media screen and (min-width: 600px) {
  #page2 {
    height: 1200px;
  }
}
 @media screen and (min-width: 768px) {
  #page2 {
    height: 700px;
  }
}
@media screen and (min-width: 1600px) {
  #page2 {
    height: 550px;
  }
  h1 {
    font-size: 4em;
  }

}
.map_container {
  position: relative;
  margin: 10px auto;
  width: auto;
  height: 223px;
  z-index: 1;
}
.map_container {
  -webkit-perspective: 1000px;
  -moz-perspective: 1000px;
  -o-perspective: 1000px;
  perspective: 1000px;
}

.map_card {
  width: 100%;
  height: 223px;
  -webkit-transform-style: preserve-3d;
   -o-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
     -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition:all 1s linear;
  -o-transition:all 1s linear;
  -ms-transition:all 1s linear;
  -moz-transition:all 1s linear;
  transition:all 1s linear;
 
}

.map_container:hover .map_card, .map_container.hover_effect .map_card {

  -o-transform:rotateY(180deg);
  -ms-transform:rotateY(180deg);
  -moz-transform:rotateY(180deg);
  -webkit-transform:rotateY(180deg);
  transform:rotateY(180deg);
}

.face {
  position: absolute;
  width: 100%;
  height: 223px;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
}
.face.back {
  display: block;
  -webkit-transform:rotateY(180deg);
  -o-transform:rotateY(180deg);
  -ms-transform:rotateY(180deg);
  -moz-transform:rotateY(180deg);
  transform: rotateY(180deg);
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
  color: black;
  background-color: #1E90FF;
  

}
    